@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-track {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}

.readMarkdown a {
  color: red;
}

.oldBlog h1 {
  font-size: 12;
}

.readMarkdown {
  width: 100%;
  overflow-x: hidden;
}

.readMarkdown p {
  word-wrap: break-word;
}
.readMarkdown h1 {
  font-size: 25px;
  margin: 30px 0px 30px 0px;
}
.readMarkdown h2 {
  font-size: 20px;
  margin: 30px 0px 30px 0px;
}
.readMarkdown h3 {
  font-size: 15px;
  margin: 30px 0px 30px 0px;
}
